body {
    font:10ptArial,Helvetica,sans-serif;
    background:white;
}
h2 {
    margin-top:0;
}
textarea,button {
    border:0;
    outline:none;
}
a {
    text-decoration:none;
    color:black;
}
#container {
    width:auto;
    height:720px;
    margin:0auto;
}
#header {
    text-align:center;
    padding:5px;
    background:#202020;
    color:white;
}
#sidebar {
    margin-top:10px;
    width:110px;
    padding:010px;
    float:left;
}
#content {
    margin-left:130px;
    background:#fff;
}
.tabs {
    margin:0;
    padding:0;
}
.tab {
    padding:0;
    margin:0;
    height:300px;
    width:1310px;
    float:left;
    resize:none;
    display:none;
    color:white;
    background-color:#272822;
}
.tabs>li {
    list-style-type:none;
    display:inline-block;
    padding:10px5px;
}
.tabsa {
    color:black;
}
#selected {
    background-color:#272822;
}
#selected>a {
    color:white;
}
#stdin {
    display:block;
    border:0;
    padding:0;
}
#button {
    padding:0;
    margin:0;
    display:inline;
    float:left;
    background-color:#272822;
    color:white;
    width:75px;
    height:300px;
    border-left:5pxsolidwhite;
}
#editor {
    height:40vh;
    width:auto;
}