html {
  height: 100%;
}


body {
  font: 11pt calibri;
  background: #CCFFCC;
  height: 90%;
}

h2 {
    margin-top: 0;
}

textarea, button, input {
    padding: 0;
    border: none;
    outline: none;
}

a {
    text-decoration: none;
    color: black;
}

.container { 
    position: relative;
    height: 94.7%;
}

.container > div { 
    position: absolute;
}

.header {
    text-align: left;
    background:#679A48;
    height: 8vh;
    padding-right: 40px;
    font-size: 22px;
    font-style: italic;
    color: #FF9933;
}

.header img {
  height: 100%;
}

.col {
  overflow: auto;
}

.leftcol {
  background: #CCFFCC;
  width: 17%;
  height: 90vh;
}

#users .selected {
    background: #FF8C00;
    color: #679A48;
    border: 2px solid #FF8C00;
    border-radius: 15px;
    padding: 2px;
    text-align: center;
    font: 11pt calibri;
}

.rightcol {
     background:#CCFFCC;
     right: 0;
     width: 17%; 
     height: 90vh;
}

.rightcol img {
    margin: 0px auto;
    padding: 10px;
    float: left;
}

.content {
  left: 17%;
  width: 66%; 
  height: 100%;
}

.tabs {
    margin: 0;
    padding: 0;
}

.tab {
 padding: 0;
    margin: 0;
    height: 20vh;
    width: 92.5%;
    float: left;
    resize: none;
    display: none;
    color: white;
    background-color: #FDF6E3;
}

.tabs > li {
    list-style-type: none;
    display: inline-block;
    padding: 10px 5px;
}

.tabs a {
    text-decoration: none;
    color: #679A48;
}

.firepad {
  height: auto;
}

#selected {
    background-color: #FDF6E3;
}

#selected > a {
    color: #679A48;
}

#stdin {
    display: block;
    border: 0;
    padding: 0;
}
.content #button {
    padding: 0;
    margin: 0;
    display: inline;
    float: left;
    background-color: #FDF6E3;
    color: #679A48;
    width: 7.5%;
    height: 20vh;
    border-left: 5px solid #CCFFCC;
}


#editor {
    width: auto;
    height: 65vh;
}

.header textarea, .header button {
  margin: 5px;
  margin-top: 12.5px;
  float: right;
}

.header textarea {
  resize: none;
  height: 19px;
}
.header button {
  background: 0 0;
  color: #FF8C00;
  border: 2px solid #FF8C00;
  border-radius: 15px;
  padding: 2px;
  text-align: center;
  padding:5px;
  font: 11pt calibri;
}

.removeBtn {
    float: right;
    width: 20px;
}

.leftcol img{
  float: right;
  margin: 0px auto;
  padding: 10px;
}
.leftcol li span, button {
  cursor: pointer;
}

.leftcol li span {
  overflow: hidden;
  width: 70%;
}

.header button, .header input {
  margin: 5px;
  float: right;
}

.header button {
  margin-top: 20px;
}

.header input {
    margin-top: 28px;
}

.header input {
  resize: none;
  height: 19px;
}


.removeBtn {
    float: right;
    min-width: 20px;
}

.leftcol li span, button {
  cursor: pointer;
}

.col li span {
  overflow: hidden;
  max-width: 83%;
}

nav {
  width: 100%;
}

.col li {
  display: block;
  background: 0 0;
  color: #679A48;
  border: 2px solid #FF8C00;
  border-radius: 15px;
  padding: 2px;
  text-align: center;
  height: 25px;
  margin: 4px 10px;
  padding:2px;
}

.col span{
  display: inline-block;
}

.col ul {
  margin: 5px;
  padding: 0;
  display: block;
  border-radius: 5px;
  color: white;
}

nav ul ul {
  margin-left: 10px;
}

.col button {
  display: inline-block;
  margin: 2.5px;
}

.col textarea {
  padding: 5px;
  margin-left: 10px;
  width: 100%;
  height: 25px;
  resize: none;
  border: 2px solid #FF9933;
  border-radius: 15px;
  background: #FDF6E3;
}

div.disabled
{
  pointer-events: none;
  opacity: 0.5;
  background: #CCC;
}



#leftcontainer {
    margin:10px auto 0px 15px;
    width:75%;
    padding:10px;
    background-color: #FDF6E3;
    border-radius:5px;
    box-shadow: 0px 0px 10px #000;

}

#leftcontainer span{
  font-weight: bold;
}

/*блок в правой колонке*/
#collaborators {
    margin:10px 15px 0px auto;
    width:75%;
    padding:10px;
    background-color: #FDF6E3;
    border-radius:5px;
    box-shadow: 0px 0px 10px #000;

}

.btn {
    background: 0 0;
    color: #679A48;
    border: 2px solid #679A48;
    border-radius: 15px;
    font: 11pt calibri;
    padding-left: 5px;
    padding-right: 5px;
}

#fileBtn {
    cursor: pointer;
}