html {
  height: 100%;
}

body {
  font: 10pt Arial, Helvetica, sans-serif;
  background: white;
  height: 98.5%;
}

h2 {
    margin-top: 0;
}

textarea, button {
    border: 0;
    outline: none;
}

a {
    text-decoration: none;
    color: black;
}

.container { 
    position: relative;
    height: 94.7%;
}

.container > div { 
    position: absolute;
}

.header {
    text-align: left;
    font-size: 22px;
    font-family: "Helvetica";
    font-style: italic;
    padding: 5px;
    background: #330066;
    color: white;
    height: 5vh;
    padding-right: 40px;
}

.col {
  overflow: auto;
}

.leftcol {
  background: white;
  width: 20%;
  height: 69.5vh;
}

#users .selected {
    border-color: white;
    background-color: #2F3129;
    color: white;
}

.rightcol {
     background: white;
     right: 0;
     width: 20%; 
     height: 69.5vh;
}
.content {
  left: 20%;
  width: 60%; 
  height: 100%;
}
.tabs {
    margin: 0;
    padding: 0;
}
.tab {
 padding: 0;
    margin: 0;
    height: 20vh;
    width: 95%;
    float: left;
    resize: none;
    display: none;
    color: white;
    background-color: #272822;
}
.tabs > li {
    list-style-type: none;
    display: inline-block;
    padding: 10px 5px;
}
.tabs a {
    text-decoration: none;
    color: black;
}

.firepad {
  height: auto;
}

#selected {
    background-color: #272822;
}

#selected > a {
    color: white;
}

#stdin {
    display: block;
    border: 0;
    padding: 0;
}

#button {
    padding: 0;
    margin: 0;
    display: inline;
    float: left;
    background-color: #272822;
    color: white;
    width: 5%;
    height: 20vh;
    border-left: 5px solid white;
}

#editor {
    width: auto;
    height: 69.5vh;
}

.header textarea, .header button {
  margin: 5px;
  margin-top: 12.5px;
  float: right;
}

.header textarea {
  resize: none;
  height: 19px;
}


.removeBtn {
    float: right;
    width: 20px;
}

.leftcol li span, button {
  cursor: pointer;
}

.leftcol li span {
  overflow: hidden;
  width: 83%;
}

nav {
  width: 100%;
}

.col li {
  display: block;
  background-color: white;
  border: 2.5px solid #2F3129;
  width: 90%;
  height: 25px;
  margin: 0px 10px;
  padding-left: 2px;
  color: black;
}

.col span{
  display: inline-block;
}

.col ul {
  margin: 0;
  padding: 0;
  display: block;
  border: 4px solid #2F3129;
  background-color: #272822;
  color: white;
}

nav ul ul {
  margin-left: 10px;
}

.col button {
  display: inline-block;
  margin: 2.5px;
}

.col textarea {
  margin-left: 10px;
  width: 150px;
  height: 20px;
  resize: none;
  border: solid 1px black;
}

div.disabled
{
  pointer-events: none;
  opacity: 0.5;
  background: #CCC;
}